<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css"> 
     <!-- add icon link -->
     <link rel = "icon" type = "image/x-icon" href ="static/logo_tr.png">  
    <title>Breast Cancer Prediction Model</title>
    <style>
      div {
        background-image: url('static/bg1.png');
      }
      </style>
  </head>
  
  <body>
    <div class="container_main">
      <div class="sub_container" id="holder">
          <table>
            <tr><td><IMG SRC="https://w7.pngwing.com/pngs/956/676/png-transparent-prostate-cancer-awareness-ribbon-breast-cancer-coloured-ribbon-blue-angle-ribbon.png" ALT="tries" WIDTH=185 HEIGHT=129></td>
            <td><center><h1 class='main_heading'>Breast Cancer Prediction Model Using (KNN CLASSIFIER)</h1></center></td>
          </tr>
        </table>
        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
        <p> KNN ("k-nearest neighbors.") model is developed based on 9 features that classify whether the breast cancer is benign or malignant. In other to classify any patient, each patient is requested to input and submit their data into the form  below, based on the value range provided in the input placeholder.
        <b>[Note: For predicted result, please check the footer of the table which is at the bottom of the page.]</b></p>
        <table class="t1">
        <form class="form-horizontal" action="{{ url_for('predict')}}" method="post">
          <div class="form-group">
            <div class="col-sm-10">
                <thead>
                  <tr><th colspan="2"><b><h4>Submission Form </h4></b></th></tr>
                </thead>
                <tfoot>
                  <tr><th colspan="2"><center><b><h4>{{ prediction_text}}</h4></b></center></th></tr>
                </tfoot>
                 <tr><td><label for = "Clump_thickness">Clump_thickness:</label></td>
                  <td>          
                    <span>
                      <input  class="form-control" type= "text" name="Clump_thickness" placeholder="Recommended Range: 1 - 10" required="required" />
                    </span>
                </td></tr>
        </div>
      </div>
     
      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "Size_uniformity">Size_uniformity:</label></td>
            <td>
          <span><input  class="form-control" type="text" name="Size_uniformity" placeholder="Recommended Range: 1 - 10" required="required" /></span>
          </td></tr>
        </div>
      </div>

      
      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "Shape_uniformity">Shape_uniformity:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="Shape_uniformity" placeholder="Recommended Range: 1 - 10" required="required" />
        </span>
      </td></tr>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
        <tr><td><label for = "Marginal_adhesion">Marginal_adhesion:</label></td>
          <td>
          <span>
          <input  class="form-control" type="text" name="Marginal_adhesion" placeholder="Recommended Range: 1 - 10" required="required" />
          </span>
        </td></tr>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "Epithelial_size">Epithelial_size:</label></td>
          <td>
          <span>
          <input  class="form-control" type="text" name="Epithelial_size" placeholder="Recommended Range: 1 - 10 " required="required" />
          </span>
        </td></tr>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "Bare_nucleoli">Bare_nucleoli:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="Bare_nucleoli" placeholder="Recommended Range: 1 - 10" required="required" />
          </span>
        </td></tr>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "Bland_chromatin">Bland_chromatin:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="Bland_chromatin" placeholder="Recommended Range: 1 - 10" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "Normal_nucleoli">Normal_nucleoli:</label></td>
          <td>
          <span>
          <input  class="form-control" type="text" name="Normal_nucleoli" placeholder="Recommended Range: 1 - 10" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "Mitoses">Mitoses:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="Mitoses" placeholder="Recommended Range: 1 - 10" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
         <tr><td colspan="2"><button type="submit" class="btnsub">PREDICT</button></td></tr>
        </div>
      </div>
    </form>
    <h2 class="result"></h2>
  </div>
  </div>
  </table>
  </body>
</html>

